<section id="projects" class="container mx-auto my-auto p-10 grid lg:grid-cols-2 justify-items-center lg:gap-16 lg:my-40">
    <h2 class="mb-18 font-bold text-3xl lg:text-5xl my-8 col-span-3 text-center" data-aos="fade-right" data-aos-duration="1000">Projects</h2>

    <!--Project I-->
    <article class="container flex flex-col lg:flex-row max-w-screen-lg lg:space-x-10 lg:col-span-3"  data-aos="fade-right" data-aos-duration="2000">
        <img src="assets/background.jpg" class="min-w-screen-sm max-w-screen-lg">
        <div >
            <h2 class="font-bold text-2xl text-center p-2 lg:text-left">HogardePaso</h2>
            <p class="text-justify p-2 font-sans tracking-tighter subpixel-antialiased text-base">Proyecto de una fundación para su reconocimiento a nivel internacional y manejo de procesos del sistema, realizado con HTML,CSS,Angular.</p>
            <div class="py-2 text-center">
                <button type="button" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700" (click)="showFrame()">View</button>
                <a href="https://hogardepaso-dc34e.web.app/" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-3 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">WebSite</a>
            </div>
        </div>
    </article>

</section>