<section id="about" name="about" class="container mx-auto my-auto p-28 lg:my-64 lg:flex flex-col" data-aos="fade-left" data-aos-duration="1000">
    <h2 class="text-center mb-16 text-3xl lg:text-5xl font-bold">About Me</h2>
     <p class="place-self-center max-w-5x text-justify lg:text-2xl leading-loose">
        I started my learning process in the world of development in 2020, at that time I was completely unaware of the development 
        issues, so I could not adapt the strategy used by the university at the beginning, so I started to be self-taught and learn
         on my own the development technologies, which made me finally see the light at the end of the tunnel, now I have already 
         developed projects for companies and a professional internship at the university. Today I am looking for more job 
         opportunities and to continue learning this wonderful world of technology.</p>
</section>